body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(219, 238, 254);
    cursor: pointer;
    overflow: hidden;   
    height: 100vh;
    width: 100vw;
}

.emoji-pop{
   position: absolute;
   font-size: 4rem;
}