*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'PT Serif', serif;
}

body{
    background: linear-gradient(30deg, #0891B2, #B5EEF0, #5EEAD4) fixed;
    overflow-x: hidden;
}

h1, h2{
    color: #3d3b3b;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin: 3% auto;
    gap: 20px;
}

.add-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    gap: 10px;
}

.input-title{
    outline: none;
    height: 30px;
}

textarea{
    outline: none;
    resize: none;
    font-size: 1rem;
}


.accordion-container{
    width: 30%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.accordion {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 10px 80px #0e74909f, 0 10px 10px #0E749020;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    /* text-align: left; */
    border: none;
    outline: none;
    transition: 0.4s;
}

#incomplete div{
    margin-top: 7px;
}

.icons{
    display: flex;
    gap: 10px;
}
  
.title-wrap{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#add-btn {
    all: unset;
    padding: 5px 10px;
   background: #155E75;
   border-radius: 1rem;
   cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
}

#add-btn * {
color: #ffffff;
}

#add-btn:hover {
    filter: contrast(1.5);
}

.fa-pen{
    color: #34a473;
    font-size: 15px;
}

.fa-trash{
    color: #fd5151;
    font-size: 15px;
}

.fa-save{
    color: #162f6b;
    font-size: 17px;
}

.fa-chevron-down{
    color: #3d3b3b
}

label{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #3d3b3b;
}

.fa-search{
    color: white;
}

.editMode input[type=text] {
    display:block;
  }


.editmode textarea{
    width: 100%;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;
    color: #444;
    display: none;
    overflow: hidden;
    text-align: center
}

.editmode textarea:focus{
    color: #333;
    outline: none;
}

input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
    outline: none;
  }

/* #completed label {
  text-decoration: line-through;
  color: #00ff48c3
} */

i{
  cursor: pointer;
}

.panel {
padding: 2% 15% 5% 10%;
background-color: #eee;
color: #444;
display: none;
overflow: hidden;
}

.search {
width: 30%;
position: relative;
display: flex;
}
  
.searchTerm {
width: 100%;
border: 3px solid #fff;
border-right: none;
padding: 5px;
height: 36px;
border-radius: 5px 0 0 5px;
outline: none;
color: #9DBFAF;
font-size: 17px;
}

.searchTerm:focus{
color: #0891B2;
}

.searchButton {
width: 40px;
height: 36px;
border: 1px solid #fff;
background: #0891B2;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}
 

@media (max-width:1024px){

    .accordion-container{
        width: 45%;
    }

    .add-box{
        width: 45%;
    }

    .search{
        width: 45%;
    }

}

@media (max-width:850px){

    h1{
        font-size: 1.7rem;
    }
    
    h2{
        font-size: 1.3rem;
    }

}

@media (max-width:850px){

    h1{
        font-size: 1.5rem;
    }
    
    h2{
        font-size: 1.2rem;
    }

    .accordion-container{
        width: 70%;
    }

    .add-box{
        width: 70%;
    }

    .search{
        margin: 15px 10px;
        width: 70%;
    }
}

@media (max-width:530px){

    .editmode > .accordion{
        justify-content: center;
        gap: 10px
    }

    .editmode > .accordion > input{
        /* background-color: yellow; */
        width: 70%;
    }

}

@media (max-width:480px){

    h1{
        width: 80%;
        text-align: center;
    }

}

@media (max-width:380px){
   
    .accordion-container{
        width: 80%;
    }

    .add-box{
        width: 80%;
    }

    .search{
        margin: 15px 10px;
        width: 80%;
    }
}

@media (max-width:345px){

    h1{
        width: 90%;
        text-align: center;
    }

    #add-btn {
        padding: 4px 8px;

    }

}