*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

header{
    background-image: url(./Assets/Photos/futuristic-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vw; */
}


.navbar{
    /* background-color: black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
    z-index:1;
    background-color: rgba(0,0,0,0.3);
}

.logo-navlist{
    display: flex;
    align-items: center;
    /* gap: 50px; */
}

.logo{
   padding-right: 50px;
   padding-left: 150px;
}

.nav-btns{
    padding-left: 300px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight:lighter;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.navbar ul li:hover {
    text-shadow: 0px 0px 16px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    background-color: #f4694c;
}

.btn{
    color: #fff;
    font-size: 15px;
    font-weight:lighter;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.navbtn1{
    background-color: transparent;
    padding: 10px 30px 10px 30px;
}

.navbtn1:hover {
    text-shadow: 0px 0px 16px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    background-color: #f4694c;
}

.navbtn2 {
    padding: 10px 30px 10px 30px; 
    background-image: -webkit-linear-gradient(30deg, #f4694c 50%, transparent 50%);
    background-image: linear-gradient(30deg, #f4694c 50%, transparent 50%);
    background-size: 500px;
    background-position: 0%;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    text-shadow: 0px 0px 16px rgba(255, 255, 255, 1);
}

.navbtn2:hover {
background-position: 100%;
color: #f4694c;
}

.first-section{
    display: flex;
    color: aliceblue;
    gap: 350px;
}

.play-heading{
    padding-left: 10em;
    padding-top: 5em;
}

.play-para{
    padding-left: 10em;
    padding-top: 2em;
    width: 40em;
}

.get-started{
    padding-left: 10em;
    padding-top: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.dash{
    translate: -53px 13px;
}

.right-arrow{
    translate: 225px -12px;
}

.play-svg{
    padding-top: 7em;
}

@media all and (max-width: 768px){

    .first-section{
        display: flex;
        flex-direction: column;
        
    }

    .first-sub{
        color: #fff;
    }

    .dash{
        translate: 0px0px;
    }
    
    .right-arrow{
        translate: 0px 0px;
    }
    

}