*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: black;
    color:white;
}

header{
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    height: 80px; 
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.navlist{
    display: flex;
    gap: 81px;
    align-items: center;
}

.list-item{
    list-style-type: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem  
}

.btn{
    /* background-color: #232325; */
    background-color: #1e1e21;
    color: #fff;
    font-size: 15px;
    font-weight:lighter;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.shop-btn{
    padding: 10px 50px 10px 50px;
}

.main-section{
    display: flex;
    width: 80%;
    margin: auto; 
    
}

.logo{
    margin-left: 5%;
}

.main-img {
    width: 45%;
    margin-top: -20%;  
 }
 
 .main-img img{
    margin-left: 25%;
 }
 
 .main-img img:hover{
     animation: rotate 3s
 }
     
 @keyframes rotate{
     0% { -webkit-transform: rotateY(190deg); }
     100% { -webkit-transform: rotateY(360deg); }
 }

.main-content{
    width: 55%;
}

.on-ear-img{
    margin-left: 10%;
    margin-top: 5%;
}

.main-content h1{
    font-size: 3.5rem;
    font-weight: 500;
}

.main-content h2{
    margin-top: 5%;
    font-weight: 400;
    margin-bottom: 3%;
}

.main-content p{
    width: 60%;
    color: #babdbf;
    line-height: 1.7rem;
    margin-bottom: 5%;
}

.main-cart-btn{
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
}

.main-cart-btn strong{
    font-size: 1.1rem;
}

.logos-section{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    align-items: center;
}

.logos-container{
    margin: 5% auto;
}

.specs-container{
    /* background-color: antiquewhite; */
    width: 80%;
    margin: auto;
}

.specs-section{
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    gap: 55px;
    /* margin-bottom: 5%; */
}

.specs{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* gap: 5%; */
}

.specs-type{
    font-weight: 600;
}

.specs-info{
    color: #babdbf;
    font-size: 0.9rem;   
}

.specs-img{
    /* background-color: blue; */
}

.specs-logo{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.one{
    /* background-color: blueviolet; */
    align-self: flex-end;
}

.case-container{
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

.case-logo{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.case-section{
    display: flex;
    /* background-color: yellow; */
    width: 55%;
    margin: auto;
    gap: 80px;
}

.case-detail{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 48%;
    margin: auto;
}

.case-detail p{
    width: 85%;
    color: #babdbf;
    line-height: 1.7rem;
    margin-bottom: 5%;
    /* background-color: yellow; */
}

.info-btn{
    padding: 10px 18px 10px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
}

.info-btn img{
    width: 18%;
}

.immerse-container{
    display: flex;
    background-color: #181a1b;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin-top: 8%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.immerse-img img{
    width: 90%;
}

.immerse-content h3{
    width: 70%;
}

.immerse-content p{
    margin-top: 4%;
    color: #babdbf;
}

.immerse-btn img{
    width: 17%;
}

.immerse-btn{
    background-color: black;
    padding: 10px 18px 10px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    margin-top: 5%;
}



@media (max-width:1024px){

    nav{
        width: 90%;
    }
     
    .navlist{
        gap: 40px;
    }

    .main-img{
        margin-top: -25%;
    }
    
    .main-img img{
        margin-left: 35px;
    }

    .main-section{
        width: 90%;
    }

    .on-ear-img{
        width: 75%;
    }

    .main-content{
        padding-left: 5%;
    }

    .main-content p{
        width: 100%;
    }

    .case-section{
        width: 85%;
    }

    .case-detail{
        width: 42.5%;
    }

    .immerse-container{
        width: 80%;
        padding: 5% 10%;
    }

}

@media (max-width:850px){

    .navlist{
        display: none;
    }

    .main-img{
        margin-top: -40%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        width: 55%;
    }

    .main-img img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-section{
        flex-direction: column;
    }

    .logos-section{
        width: 80%;
     }
 
    .logos-container{
         margin: 10% auto;
    }

    .case-section{
        width: 100%;
        gap: 60px;
    }

    .immerse-container{
        width: 90%;
        padding: 5% 10%;
    }
  
}

@media (max-width:480px){

    .case-container{
        width: 90%;
    }

    .case-img{
        display: flex;
        justify-content: center;
    }

    .case-img img{
        width: 75%;    
    }

    .case-section{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .case-detail{
        width: 90%;
    }

    .logos-section{
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 30px;
    }

    .logos-section img{
        width: 25%;
    }
 
     .logos-container{
         margin: 10% auto;
     }
 

    .main-content h1{
        font-size: 2rem;
    }

    .main-content h2{
        font-size: 1rem;
    }

    .main-content{
        width: 100%;
    }

    .specs-container{
        width: 90%;
        
    }

    .specs-section{
        gap: 5px;
    }

    .specs{
        width: 40%;
    }

    .specs-img{
        width: 70%;
    }

    .specs-img img{
        width: 100%;
    }

    .specs-info{
        font-size: 0.8rem;
    }

    .immerse-container{
        flex-direction: column;
        gap: 40px;
    }

    .immerse-img img{
        width: 100%;
    }
}

@media (max-width:380px){

    .specs-container{
        width: 95%;
    }
    .main-content p{
        font-size: 0.8rem;
    }
}

@media (max-width:330px){

    .specs-container{
        width: 90%;
    }

    .specs-type{
        font-size: 0.9rem;
    }

    .specs-info{
        font-size: 0.66rem;
    }

    .specs-section{
        gap: 5px;
    }

    .specs{
        width: 50%;
    }

    .specs-img{
        width: 70%;
    }

    .immerse-container{
        margin: 10% auto;
    }
}



  /* @keyframes rotate360 {
    to { transform: rotate(360deg); }
  }
  img:hover { animation: 2s rotate360 infinite linear; } */
  
  