.testimonial-carousel{
    width: 27em;
    background-color:black;
    color: white;
    border-radius: 15px;
    padding: 10px;   
}

.carousel-two{
    max-width: 27em;
    background-color: white;
    color: #000000;
    border: 1px solid #c0c0c0;
}


.horizontal-scroll-bar::-webkit-scrollbar {
    height: 5px;
}

.horizontal-scroll-bar::-webkit-scrollbar-track{
/* 	margin-left:150px; */
/* 	margin-right:150px; */
background:#f3f3f3;
border-radius: 50px;
}

.horizontal-scroll-bar::-webkit-scrollbar-thumb {
background:#0c8bfd;
border-radius: 50px;

}
.horizontal-scroll-bar::-webkit-scrollbar-thumb:hover{
background-color:#0c8bfd;
}

.nav-list{
    display: flex;
    gap: 75px;  
}

.nav-items{
    color: #bab9b9;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight:lighter
}

.nav-items:hover{
    cursor: pointer;
    color: #d2d0d0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border: 1px solid #b8b7b7;
    height: 260px;
    width: 270px;
    border-radius: 15px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    transition: transform 0.5s;
}

.card:hover{
    /* transform: scale(1.16); */
    background-color: gainsboro;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
}

.card-two:hover{
    /* transform: scale(1.2); */
    background-color: gainsboro;
    color: black;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.22);
}