*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
    gap: 120px;
}

.nav-list{
    display: flex;
    gap: 75px;  
}

.nav-items{
    color: #bab9b9;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight:lighter
}

.nav-items:hover{
    cursor: pointer;
    color: #d2d0d0;
}

.btn{
    background-color: #0c8bfd;
    color: white;
    font-size: 15px;
    font-weight:lighter;
    border-radius: 40px 40px 40px 40px;
    border: none;
    transition: .3s;
}

.navbtn{
    padding: 10px 30px 10px 30px; 
}

.btn:hover{
    cursor: pointer;
    box-shadow: 8px 8px #80c0f9;
    transition: .3s;
}

.hamburger {
    display: none;
  }

.ham{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.first-section{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-main{
    width: 50%;
 }
 
.right-main{
    width: 40%;
    padding-top: 30px;
}

.right-main img{
    height: 90%;
    width: 85%;
}

.heading{
    color: white;
    font-size: 3.8rem;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 20px;  
}

.para{
    color: #6e6e6e;
    font-size: 1.5rem;
    width: 70%;
    padding-bottom: 50px;
}

.mainbtns{
    display: flex;
    gap: 20px;
}

.highlight{
    color: #0c8bfd;
    font-style: italic ;
}

.topleftbtn{
    padding: 10px 18px 10px 18px; 
}

.toprightbtn{
    padding: 10px 17px 10px 17px;
    background-color: black;
    color: white;
    border: 1px solid white
}

.toprightbtn:hover{
    cursor: pointer;
    box-shadow: 8px 8px white;
    transition: .3s;
}

.logos-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1d1c1c;
    margin: auto;
}

.cards-section{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    /* background-color: yellow; */
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border: 1px solid #b8b7b7;
    height: 260px;
    width: 270px;
    border-radius: 15px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    transition: transform 0.5s;
}

.card:hover{
    /* transform: scale(1.16); */
    background-color: gainsboro;
    -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
            box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
}

.card-two:hover{
    /* transform: scale(1.2); */
    background-color: gainsboro;
    color: black;
    -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
            box-shadow: 0 22px 43px rgba(0, 0, 0, 0.22);
}

.card svg{
    height: 55px;
    width: 55px;
}

.card-heading{
    font-family:'Poppins', serif;
    font-weight: 550;
    font-size: 1.1rem  
}

.card-para{
    color: gray;
    text-align: center;
    font-size: 0.9rem;
    width: 95%;
    padding-left: 5px;
    padding-right: 5px;
}

.card-two{
    border: #000000;
    background-color: black;
    color: white;
    box-shadow: 0 18px 10px -2px #e1e1e1;
    margin-top: -2%;
}

.service{
    /* background-color: orange; */
    padding-top: 80px;
}

.service-heading{
    text-align: center;
    font-size: 2.7rem;
    font-weight: 600;
}

.service-para{
    text-align: center;
    padding-top: 10px;
    color: gray;
    font-size: 1.1rem;
}

.card-three{
    padding-bottom: 10px;
}

.support-heading{
    font-size: 2.7rem;
    max-width: 20em;
    margin-left: 115px;
    margin-right: auto;
}

.accordion-item{
    display: block;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-radius: 30px;
    margin-top: 15px;
    padding: 20px;
}

.accordions div:hover{
    background-color: #0c8bfd;
    color: white;
}

.accordion-heading{
    font-family:'Poppins', serif;
    font-size: 1rem;
    font-weight: 600;
}

.one{
    border: none;
    background-color: #0c8bfd;
    border-radius: 30px;
    color: white;
}

.accordion-item svg{
    height: 20px;
    width: 20px;
    float: right;
}

.accordions{
    margin: 3em auto;
    /* width: 25em;    */
    /* background-color: yellow; */
    width: 35%;
}

.accord-section{
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.accord-list-container{
    margin: 3em auto;
    /* width: 23em; */
    width: 35%;
    background-color: #000000;
    padding: 10px 10px 20px 10px;
    border-radius: 15px;
}

.accordlist-item{
    list-style: none;
    background-color: #292828;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 15px;
    color: #f3f0f0;
    font-size: 0.8rem;
}

.accordlist-item:before{
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem;
    background-color: #d9d9d9;
}

.accordian-list li:hover{
    background-color: rgb(162, 161, 161);
    color: #292828;
}

.priceheading-container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    height: 170px;
}

.hostingprice-heading{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    max-width: 20em;
}

   
@media all and (max-width: 768px) {

    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar{
        gap: 100px;
    }

    .nav-list {
      position: fixed;
      top: 70px;
      gap: 0;
      left: -100%;
      flex-direction: column;
      background-color: black;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-list.active {
      left: 0;
    }
  
    .nav-items {
      margin: 2rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .heading{
        font-size: 2.6rem;
        margin-left: 47px;
        padding-top: 2px;
    }

    .para{
        font-size: 1.1rem;
        margin-left: 47px;
    }

    .mainbtns{
        margin-left: 45px;
        padding-bottom: 30px;
    }

    .right-main{
        width: 50%;
        padding-top: 30px;
        margin-right: 40px;
    }

    .logos-section{
        display: flex;
        justify-content: center;
        gap: 35px;
    }

    .card svg{
        height: 55px;
        width: 55px;
    }

    .cards-section{
        gap: 30px;
    }

    .card{
        height: 200px;
        width: 200px;
    }

    .card-heading{
        text-align: center;
    }

    /* .accord-section{
        flex-direction: column;
    } */

    .support-heading{
        margin-left: 60px;
    }

    .accordions{
        width: 20em
    }

    .accord-list-container{
        width: 20em
    }

    .priceheading-container{
        gap: 0;
    }

    .hostingprice-heading{
        font-size: 2.1rem;
        color: white;
        text-align: center;
        padding-bottom: 1.5em;
        max-width: 20em;
    }
  }

@media only screen and (max-width: 600px){

    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .navbar{
        gap: 20px;
    }

    .first-section{
        display: flex;
        flex-direction: column;
    }

    .heading{
        padding-top: 15px;
        padding-left: 24px;
        text-align: center;
    }

    .para{
        padding-left: 24px;
        text-align: center;
    }

    .left-main{
        width: 100%;
    }

    .mainbtns{
        padding-left: 32px;
    }

    .right-main{
        width: 100%;
    }

    .right-main img{
        padding-left: 45px;
        padding-bottom: 25px
    }

    .logos-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      
    }

    .logos-section img{
        height: 35px;
        
    }

    .card svg{
        height: 55px;
        width: 55px;
    }

    .cards-section{
        flex-direction: column;
        align-items: center;
        margin-top: -12%;
    }

    .card{
        height: 200px;
        width: 200px;
    }

    .card-heading{
        text-align: center;
    }

    .card-two{
        margin-right: -7%;
    }

    .service-heading{
        font-size: 2.3rem;
        margin-top: -10%;
        font-weight: bold;
    }

    .service-para{
        padding-top: 10px;
        font-size: 1rem;
    }

    .support-heading{
        margin-left: 50px;
    }

    .accord-section{
        flex-direction: column;
    }

    .accordions{
        width: 90%;
    }

    .accord-list-container{
        width: 90%;
    }

    .hostingprice-heading{
        font-size: 1.5rem;
        color: white;
        text-align: center;
        padding-bottom: 3em;
        max-width: 20em;
    }

  }

  @media only screen and (max-width: 380px){

    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .first-section{
        display: flex;
        flex-direction: column;
    }

    .heading{
        padding-top: 15px;
        padding-left: 5px;
    }

    .para{
        padding-left: 5px;
    }

    .left-main{
        width: 100%;
    }

    .mainbtns{
        display: flex;
        flex-direction: row;
        margin-right: 47px;
        flex-wrap: wrap;
        
    }

    .topleftbtn{
        width: 140px;
        margin-left: 10px;
    }

    .toprightbtn{
        width: 140px;
        margin-left: 10px;
    }

    .right-main{
        width: 100%;
    }

    .right-main img{
        padding-left: 45px;
        padding-bottom: 20px
    }

    .logos-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;     
    }

    .logos-section img{
        height: 35px;
    }

    .card svg{
        height: 55px;
        width: 55px;
    }

    .service-heading{
        /* margin-top: -2%; */
        margin-left: 70px;
        margin-right: 70px;
        padding-bottom: 10px;
    }

    .service-para{
        padding-top: 10px;
        font-size: 1rem;
        margin-left: 40px;
        margin-right: 40px;
    }

    .support-heading{
        margin-left: 30px;
    }

    .accordions{
        /* width: 100%;
        padding: 20px; */
        width: 18em;
        padding: 10px
    }

    .accord-list-container{
        /* width: 100% */
        width: 18em;
     
    }

    .hostingprice-heading{
        padding-bottom: 2.5em;
        max-width: 20em;
    }


  }



  