*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}

.navbar{
    max-height: 85px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.nav-list{
    display: flex;
    gap: 50px;
    
}

.nav-items{
    color: #bab9b9;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    font-weight:lighter
}

.nav-items:hover{
    cursor: pointer;
    color: #d2d0d0;
}

.btn{
    background-color: #0c8bfd;
    color: white;
    font-size: 17px;
    font-weight:lighter;
    border-radius: 40px 40px 40px 40px;
    border: none;
    transition: .3s;
}

.navbtn{
    padding: 10px 30px 10px 30px; 
}

.btn:hover{
    cursor: pointer;
    box-shadow: 8px 8px #80c0f9;
    transition: .3s;
}

.hamburger {
    display: none;
  }

.ham{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
    
@media only screen and (max-width: 768px) {
    .nav-list {
      position: fixed;
      top: 4.5rem;
      left: -100%;
      flex-direction: column;
      background-color: #daddfc;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-list.active {
      left: 0;
    }
  
    .nav-items {
      margin: 2.5rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }