*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}

.navbar{
    max-height: 85px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
    gap: 100px;
}

.nav-list{
    display: flex;
    gap: 50px;
    
}

.nav-items{
    color: #bab9b9;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    font-weight:lighter
}

.nav-items:hover{
    cursor: pointer;
    color: #d2d0d0;
}

.btn{
    background-color: #0c8bfd;
    color: white;
    font-size: 15px;
    font-weight:lighter;
    border-radius: 40px 40px 40px 40px;
    border: none;
    transition: .3s;
}

.navbtn{
    padding: 10px 30px 10px 30px; 
}

.btn:hover{
    cursor: pointer;
    box-shadow: 8px 8px #80c0f9;
    transition: .3s;
}

.hamburger {
    display: none;
  }

.ham{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.first-section{
    background-color: black;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}

.heading{
    color: white;
    font-size: 60px;   
}

.leftmain{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    height: 560px;
    justify-content: space-between
}

.rightmain{
    width: 50%;
}

.main-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.second-main{
    padding-bottom: 55px;
}

.mainbtns{
    display: flex;
    gap: 20px;
}

.highlight{
    color: #0c8bfd;
    font-style: italic ;
}

.para{
    color: #6e6e6e;
    font-size: 20px;
    padding-top: ;
}

.first-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topleftbtn{
    padding: 10px 18px 10px 18px; 
}

.toprightbtn{
    padding: 10px 17px 10px 17px;
    background-color: black;
    color: white;
    border: 1px solid white
}

.toprightbtn:hover{
    cursor: pointer;
    box-shadow: 8px 8px white;
    transition: .3s;
}

.logos-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1d1c1c;
    flex-wrap: wrap;
}
    
@media only screen and (max-width: 768px) {
    .nav-list {
      position: fixed;
      top: 70px;
      gap: 0;
      left: -100%;
      flex-direction: column;
      background-color: black;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-list.active {
      left: 0;
    }
  
    .nav-items {
      margin: 2rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .first-section{
        display: flex;
        flex-direction: column;    
    }

    .main-content{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        gap: 30px;
    }

    .first-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .heading{
       font-size: 55px ;
       text-align: center;
       width: 350px;
    }
      
    .para{
       text-align: center;
    } 
    
  }

html,body{
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    /* body{
        background-color: black;
    } */

    .navbar{
        gap: 20px;
    }

    .logo{
        margin-left: 45px;
    }

    .navbtn{
        padding: 10px 25px 10px 25px; 
    }

    .first-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .heading{
        font-size: 45px;
        text-align: center;
    }

    .para{
        text-align: center;
        width: 200px;
        font-size: 16px;
     } 

    .first-section{
        padding-right: 40px;     
    }

    }